body {
    background-color: lightgray;
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewHighscoresB {
  background-color: plum;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 100px;
}

.codingQuizTitle{
    margin-left: 550px;
}

#codingQuiz {
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
}

.startQuizB {
    background-color: plum;
    font-size: 25px;
    margin-left: 625px;
}

.viewHighscores {
    margin-left: 600px;
    margin-right: 300px;
    margin-top: 50px;
    font-size: 25px;
}

#enterInitials{
    margin-left: 600px;
    margin-right: 300px;
    margin-top: 50px;
    font-size: 25px;
}


.playAgainB {
    margin-left: 600px;
    margin-right: 300px;
    margin-top: 50px;
    font-size: 25px;
}

.saveScoresB {
    margin-left: 600px;
    margin-right: 300px;
    margin-top: 50px;
    font-size: 25px;
}

footer {
    margin-top: 400px;
    margin-left: 600px;
    font-size: large;

}

